<body>
  <div class="toolbar">
    <div>
      <span class="home-title">Paint Store</span>
    </div>
    <div>
      <span class="email-label">{{ email }}</span>
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </div>

  <ul class="home-content">
    <li class="card" *ngFor="let paint of paints">
      <product [paint] = paint></product>
    </li>
  </ul>

  <div class="bottom-buttons">
    <button *ngFor="let page of pages" (click)="changePage(page)">
      {{ page }}
    </button>
  </div>
  <div style="height: 10px"></div>
</body>
